{% extends "base.html" %}
{% block content %}
<section id="home-content">


		<nav id="menu">
			<h1>Stuart Frederich-Smith</h1>
			<ul>
				<li><a href="/pages/resume.html" 
							onmouseover="document.body.style.backgroundColor='#365880'; "
							onmouseout="document.body.style.backgroundColor='#2B4D74';">
							<span class="pe-7s-portfolio pe-fw"></span> Resume</a>
				<li><a href="/pages/portfolio.html"
							onmouseover="document.body.style.backgroundColor='#3C6799'; "
							onmouseout="document.body.style.backgroundColor='#2B4D74';">				
				<span class="pe-7s-display1 pe-fw"></span> Portfolio</a>
				<li><a href="#"
							onmouseover="document.body.style.backgroundColor='#4974A5'; "
							onmouseout="document.body.style.backgroundColor='#2B4D74';">
				<span class="pe-7s-light pe-fw"></span> Projects</a>
				<li><a href="/pages/contact.html"
							onmouseover="document.body.style.backgroundColor='#5482B8'; "
							onmouseout="document.body.style.backgroundColor='#2B4D74';">				
				<span class="pe-7s-chat pe-fw"></span> Contact</a>
			</ul>
		</nav>

</section><!-- /#content -->
{% endblock content %}
