/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Structure */

body#index {
	background-color: #1A3350;
}


#content {
	width: 100%;
}

#menu {
	width: 400px;
	margin-left :auto;
	margin-right: auto;
	border-top: 1px solid #fff;
	margin-top: 90px;
}

/* Typography */


body {
	color: #fff;
	font-family: 'Raleway';
	font-weight: 200;
	letter-spacing: 1.5px;
}


h1 {
	font-family: 'Vollkorn';
	font-weight: 700;
	font-style: italic;
	font-size: 2em;
	line-height: 1.5em;
}

#menu ul {
	text-decoration: none;
	line-height: 1.5em;
	font-size: 1.2em;
}

em {
	color: #888;
	border-radius: 2px;
	padding: 2px 2px;
}

i {
	font-style: oblique;
}

/* Links links links */

#menu a, #banner a {
	color: #fff;
	text-decoration: none;
	padding: 8px;
	display: block;
	opacity: 0.8;
}

#menu a:hover, #banner a:hover {
	opacity: 0.9;
	background-color:rgba(255,255,255,0.2);
	border-radius: 2px;
}

#page-content a {
	color: #79B435;
	text-decoration: none;

	border-radius: 2px;
	padding: 2px 2px;
}

#page-content a:hover {
	background-color: #E6FBCD;
}

#page-content a.img:hover {
	background-color: #fff;
}

#banner a {
	padding: 0px 4px;
	min-width: 80px;
	opacity: 1.0
}

/* Banner */

#banner {
	min-height: 40px;
	background-color: #365880;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
	opacity: 0.95;

}

#banner #menu {
	display: block;
	width: auto;
}

#banner h1 {
	font-size: 14px;
	display: block;
	float: left;
	line-height: 40px;
	padding: 0px;
	margin-right: 10px;
}

#banner ul {
	display: block;
}

#banner ul li {
	display: block;
	float: left;
	font-size: 14px;
	line-height: 40px;

}

#banner #menu {
	margin: 0;
	border-top: 0;
	float: left
}

/* Main Page */

#page-content {
	padding-top: 20px;
	background-color: #fff;
	color: #000;
	padding: 100px;
	line-height: 1.3em;
	font-weight: 300;
	max-width: 960px;

	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
}

#page-content h1 {
	font-family: 'Raleway';
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
	line-height: 1.5em;
	text-transform: uppercase;
}

#page-content h2 {
	font-family: 'Raleway';
	font-weight: 100;
	font-style: normal;
	font-size: 2em;
	line-height: 1em;
	padding-top: 1em;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    opacity: 0.8;
    clear: both;


}

#page-content h3 {
	font-family: 'Raleway';
	font-weight: 600;
	font-style: normal
	font-size: 1.3em;
	line-height: 1em;
    text-transform: uppercase;
    padding-top: 20px;

}

#page-content h3.portfolio {
	background-color: #3C6799;
	color: #fff;
	padding: 4px;
	padding: 10px 10px 8px 10px;
	margin:10px 0px 10px -20px;
	display: inline-block;
}

#page-content #Resume h3, #page-content #Portfolio h3 {
	border-bottom: 1px solid #eee;
	font-size: 1.5em;
	padding-bottom:2px;
	margin-bottom:2px;
	font-family: 'Vollkorn';
	font-weight: 700;
	font-style: italic;
	text-transform: none;
	margin-top:20px;
}

#page-content h4 {
	font-family: 'Raleway';
	font-weight: 600;
	font-style: normal;
	font-size: 1.5em;
	line-height: 1em;
    opacity: 0.8;
    padding-bottom: 10px;
    padding-top: 20px;
}

#page-content #Resume h4, #page-content #Portfolio h4 {
	font-size: 1em;
	padding-top: 0px;
	display: block;
}

ul {
	list-style: none;
}

#Resume ul {
	list-style: disc;
	list-style-position: outside;
	margin-left: 60px;
}



.dates {
	font-weight: 100;
}

.portfolio-piece {
	margin-top: 40px;
	padding-top: 5px;
	border-top: 1px solid #eee;
}

.port-sidebar {
	display: block;
	color: rgb(60, 103, 153);
	width: 220px;
	float: left;
}

.port-desc {
	font-weight: 100;
	line-height: 1.5em;
		font-style: italic;
}

#page-content h5 {
	font-weight: 500;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding: 2px;
	display: inline;
}

#page-content #Resume p{
	line-height: 1.5em;
}



@media (min-width: 800px) {
	#page-content .project_description {
		-webkit-column-count: 1;
		}
}

.project_description {
	margin-left: 240px;
}

#page-content p {
	margin-bottom: 10px;
}

.container {
	position: relative;
	width: 720px;
	height: 100%;
	margin-left: 240px;
}

.divider {
	height: 1px;
	background-color: rgba(191,209,229,1);
	margin-top: 4px;
	margin-bottom: 5px;
	margin-left: -50%;
	width: 200%;
}

.container .description {
	display: block;
	position: absolute;
	top: 30px;
	background-color:rgba(60,104,153,0.95);
	color: #fff;
	padding:40px;
	margin:40px;
}

.container:hover .description {
	display: none;
}


@media (max-width: 800px) {
	.container:hover .description {
		display: block;
	}

	.container .description {
		position: relative;
		top: 0px;
		margin: 0px;
		margin-bottom: 10px;
		padding: 10px;
	}
}


/* 
.description {
	display: block;
	position: relative;
	top: -300px;
	background-color:#fff;
	padding:20px;
	margin:20px;
}

.container:hover .description {
	display: none;
	
}

*/

#page-content img {
	width: 100%;
	padding: 5px;
	border: 1px solid #fff;
	opacity: 1.0;

}

#page-content img:hover {
	border: 1px solid #E6FBCD;
	border-radius: 8px;
	opacity: 0.8;
	border-radius: 4px;
}

#page-content ul li {

}

#Resume .focus ul {
	list-style: none;
}

#Resume .focus .focusGroup {
	width: 220px;
	margin-right: 20px;
	float: left;
	margin-bottom: 20px;
}

#Resume #skills {
	margin-left: 240px;
	
}

.focusGroup h6 {
	font-weight: 600;
}

/*Resume Asides */

aside.resume_image  {
	width: 40px;
	height: 40px;
	margin-left: -50px;
	margin-bottom: -40px;
	display: block;
	opacity: 0.5;
}

.resume_image#sleepy_giant {
	background-image: url("/theme/images/resume/sg_logo.svg");
}

.resume_image#cgs {
	background-image: url("/theme/images/resume/cgs-blue.png");
	background-size: 40px;
}
